{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Hydrogen Cottage</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="{% static 'hydrogencottage/style/jquery.fullpage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'hydrogencottage/style/style.css' %}" />
    <link rel="stylesheet" href="http://vjs.zencdn.net/5.19.0/video-js.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'hydrogencottage/scripts/jquery.easings.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'hydrogencottage/scripts/jquery.fullpage.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'hydrogencottage/scripts/jquery.fullpage.extensions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'hydrogencottage/scripts/jquery.parallax-1.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'hydrogencottage/scripts/site.js' %}"></script>
</head>

<body>
    <div id="fixed-header">
        <ul id="menu-left">
            <li>Hydrogen Cottage</li>
            <li><img id='logo' src="{% static 'hydrogencottage/images/logo.png' %}" /></li>
        </ul>
        <nav>
            <ul id="menu-right">
                <li data-menuanchor="accueil"><a href="#accueil">Accueil</a></li>
                <li data-menuanchor="mission"><a href="#mission">Mission</a></li>
                <li data-menuanchor="pitch"><a href="#pitch">Le pitch</a></li>
                <li data-menuanchor="experimentation"><a href="#experimentation">L'expérimentation</a></li>
                <li data-menuanchor="village"><a href="#village">Le village</a></li>
                <li data-menuanchor="partenaires"><a href="#partenaires">Les partenaires</a></li>
                <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>


    <div id="fullpage">
        <div id="section-accueil" class="section">
            <video id="bgvid" loop muted data-autoplay>
                <source src="{% static 'hydrogencottage/videos/acceuil.mp4' %}" type="video/mp4">
                <source src="{% static 'hydrogencottage/videos/acceuil.webm' %}" type="video/webm">
            </video>
            <div class="layer">
                <article>
                    <header>
                        <h1 id='accueil-title'>La transition énergetique en action</h1>
                    </header>
                    <section class="desc-text">
                        <p>
                            Hydrogen Cottage à été fondée par Hervé MONDESIR Docteur en Géochimie. Hervé à été responsable commercial pendant 17 ans
                            chez Cisco Sytems, le leader mondial des infrastructure de l’internet.
                        </p>
                        <p>
                            L’équipe est complétée par Ching-Ying TONG, Docteur en Physique de formation. Il a été expert pendant 16 ans chez Cisco dans
                            la transition des réseaux de voix traditionnelle vers les reseau internet.
                        </p>
                        <p>
                            Ariane DOSSIER, avocate de formation et ex-juriste chez Cisco nous a rejoint récemment. Ariane a participé à la mise en place
                            d’un programme d’investissement de 200M$ de fonds Cisco destiné notamment au financement des
                            startup françaises.
                        </p>
                    </section>
                </article>
            </div>
        </div>



        <div id="section-mission" class="section">
            <div class="backgroundImageCVR">
                <div class="background-image">
                </div>
            </div>
            <div class="layer">
                <article>
                    <header>
                        <h1>Notre mission</h1>
                    </header>
                    <section class="desc-text">
                        <p>
                            Les territoires non interconnectés (ZNI), tels que la Guadeloupe, possédent leur propre réseau de distribution électrique
                            et doivent supporter le déploiement progressif des énergies renouvelables non garanties (solaire,
                            éolien, EMR).
                        </p>
                        <p>
                            La mission d’Hydrogène Cottage consiste à démarrer des expérimentations pour valider l’apport des technologies de l’hydrogène
                            dans des systèmes énergétiques permettant d’assurer en continu un approvisionnement en énergie
                            pour un territoire insulaire avec des modèles économiques viables.
                        </p>
                    </section>
                </article>
            </div>
        </div>



        <div id="section-pitch" class="section">
            <div class="layer">
                <article>
                    <header>
                        <h1>Pitch</h1>
                    </header>
                    <section>
                        <div class="wrapper">
                            <div class="videocontent">
                                <video id="my-video" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" width="1280"
                                    height="720" data-setup="{}">
                                    <source src="{% static 'hydrogencottage/videos/Pitch.mp4' %}" type='video/mp4'>
                                </video>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>



        <div id="section-experimentation" class="section">
            <div class="layer">
                <article>
                    <header>
                        <h1>Experimentation</h1>
                    </header>
                    <section>
                        <div class="wrapper">
                            <div class="videocontent">
                                <video id="my-video2" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" width="1280"
                                    height="720" data-setup="{}">
                                    <source src="{% static 'hydrogencottage/videos/experimentation.mp4' %}" type='video/mp4'>
                                </video>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>




        <div id="section-village" class="section">
            <h1>Le village!!!</h1>
        </div>




        <div id="section-partenaires" class="section">
            <h1>Partenaires</h1>
            <div id='partenaire-gallery'>
                <a href="http://www.cea.fr/">
                    <figure>
                        <img src="http://www.ac-grenoble.fr/disciplines/sii/img/manifestations/osi/partenaires/logo_CEA.png" alt="">
                    </figure>
                </a>
                <a href="http://www.cea.fr/">
                    <figure>
                        <img src="http://www.rse-magazine.com/photo/art/grande/7895903-12264052.jpg?v=1434026443" alt="">
                    </figure>
                </a>
                <a href="http://www.cea.fr/">
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/a/ae/R%C3%A9gion_Guadeloupe_(logo_de_plaque_d%27immatriculation).svg/912px-R%C3%A9gion_Guadeloupe_(logo_de_plaque_d%27immatriculation).svg.png"
                            alt="">
                    </figure>
                </a>
            </div>
        </div>

        <div id="section-contact" class="section">
            <h1>Contact</h1>
        </div>


    </div>
    <script src="http://vjs.zencdn.net/5.19.0/video.js"></script>
</body>

</html>